html {
    outline: none;
}

body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    font-size: 1rem;
}

header {
    min-height: 10%;
    width: 100%;
    margin: auto;
}

.top-nav {
    text-align: end;
    margin: auto;
    padding: 1.6rem;
}

.top-nav span a {
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    text-decoration: none;
    padding: 0.4rem;
}

.top-nav span a:hover {
    text-decoration: underline
}

.logo img {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 10rem;
    
}

.search-bar form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40rem;
    height: 3rem;
    border: 3px solid rgba(128, 128, 128, 0.3);
    border-radius: 22px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 12rem;
    padding-left: 1rem;
    outline: none;
}

.search-buttons  {
    display: inline-block;
    position: relative;
    top: 15rem;
    width: 100%;
    text-align: center;
    
}

.search-buttons span a {
    background-color: rgba(0, 0, 0, 0.09);
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    text-decoration: none;
    padding: 0.55rem;
    margin: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.search-buttons span a:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border: 2px solid gray;
    border-radius: 8px;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-bar {
    border-top: 2px rgba(0, 0, 0, 0.2) solid;
    background-color: rgba(0, 0, 0, 0.09);
}

.footer1 li, .footer2 li {
    display: inline-block;
    padding: 0.2rem;

}

.footer1 {
    position: fixed;
    text-align: start;
    padding: 1rem;
}

.footer1 li a {
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    text-decoration: none;
}

.footer1 li a:hover {
    text-decoration: underline;
}

.footer2 {
    text-align: end;
    padding: 1rem;
}

.footer2 li a {
    color: rgba(0,0,0,0.87);
    opacity: 0.85;
    text-decoration: none;
}

.footer2 li a:hover {
    text-decoration: underline;
}

 .author {
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgba(124, 117, 94, 0.192);
    border-bottom: 2px solid rgba(0, 0, 0, 0.88);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
}